/* src/App.css */

@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(15.65% 0.031 263.81);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(15.65% 0.031 263.81);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(15.65% 0.031 263.81);
  --color-primary: oklch(59.12% 0.185 266.26);
  --color-primary-foreground: oklch(98.76% 0.006 263.81);
  --color-secondary: oklch(96.12% 0.006 263.81);
  --color-secondary-foreground: oklch(25.04% 0.037 263.81);
  --color-muted: oklch(96.12% 0.006 263.81);
  --color-muted-foreground: oklch(56.9% 0.028 263.81);
  --color-accent: oklch(96.12% 0.006 263.81);
  --color-accent-foreground: oklch(25.04% 0.037 263.81);
  --color-destructive: oklch(63.01% 0.183 27.33);
  --color-destructive-foreground: oklch(98.76% 0.006 263.81);
  --color-border: oklch(92.85% 0.017 263.81);
  --color-input: oklch(92.85% 0.017 263.81);
  --color-ring: oklch(59.12% 0.185 266.26);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

.dark {
  --color-background: oklch(15.65% 0.031 263.81);
  --color-foreground: oklch(98.76% 0.006 263.81);
  --color-card: oklch(15.65% 0.031 263.81);
  --color-card-foreground: oklch(98.76% 0.006 263.81);
  --color-popover: oklch(15.65% 0.031 263.81);
  --color-popover-foreground: oklch(98.76% 0.006 263.81);
  --color-primary: oklch(66.44% 0.192 256.69);
  --color-primary-foreground: oklch(25.04% 0.037 263.81);
  --color-secondary: oklch(27.93% 0.057 256.69);
  --color-secondary-foreground: oklch(98.76% 0.006 263.81);
  --color-muted: oklch(27.93% 0.057 256.69);
  --color-muted-foreground: oklch(74.29% 0.039 264.05);
  --color-accent: oklch(27.93% 0.057 256.69);
  --color-accent-foreground: oklch(98.76% 0.006 263.81);
  --color-destructive: oklch(36.35% 0.119 27.33);
  --color-destructive-foreground: oklch(98.76% 0.006 263.81);
  --color-border: oklch(27.93% 0.057 256.69);
  --color-input: oklch(27.93% 0.057 256.69);
  --color-ring: oklch(55.91% 0.182 258.71);
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}